* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  background-color: rgb(34, 51, 59);
}

.set {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 30px;
}

h1 {
  font-size: 5rem;
  color: rgb(198, 172, 143);
  font-family: "Roboto";

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 3px 4px 0 #DBEDF3;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  border: 10px solid rgb(10, 9, 8);
  font-size: 5rem;
  font-family: 'Roboto';
  line-height: 2;
  font-weight: 600;
  color: rgb(198, 172, 143);
  border-radius: 15px;
  display: flex;
  width: 150px;
  height: 150px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
  background-color: rgb(255, 255, 255);
}

.w {
  background-image: url('images/crash.png');
  background-size: 100%;
}

.a {
  background-image: url('images/kick.png');
  background-size: 100%;
}

.s {
  background-image: url('images/snare.png');
  background-size: 100%;
}

.d {
  background-image: url('images/tom1.png');
  background-size: 100%;
}

.j {
  background-image: url('images/tom2.png');
  background-size: 100%;
}

.k {
  background-image: url('images/tom3.png');
  background-size: 100%;
}

.l {
  background-image: url('images/tom4.png');
  background-size: 100%;
}

